@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

:root {
    font-family: "Noto Sans", sans-serif;
    background-color: #fafaf9;
}

html {
  scroll-behavior: smooth;
}